.table-responsive {
    display        : flex;
    justify-content: center;
}

.container {
    max-width: 600px;
}

.form-group label {
    font-weight: bold;
}

.btn-warning {
    background-color: #f0ad4e;
    border-color    : #eea236;
}


.list-group-item {
    font-size  : 1.1em;
    line-height: 1.5;
}


.btn-success {
    background-color: #28a745;
    border-color    : #28a745;
}

/* styles.css */
body {
    background-color: #f8f9fa;
}

.container {
    max-width       : 600px;
    background-color: white;
    padding         : 20px;
    border-radius   : 8px;
    box-shadow      : 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size    : 24px;
    margin-bottom: 20px;
}

.form-group label {
    font-weight: bold;
}

.form-group input {
    width        : 100%;
    padding      : 8px;
    margin-top   : 5px;
    margin-bottom: 10px;
    border       : 1px solid #ccc;
    border-radius: 4px;
}

.btn-success {
    background-color: #28a745;
    border-color    : #28a745;
    margin-right    : 10px;
}

.btn-warning {
    background-color: #ffc107;
    border-color    : #ffc107;
}

body {
    background-color: #f8f9fa;
  }
  
  .container-fluid {
    padding: 20px;
  }
  
  .title {
    font-size: 24px;
    margin-bottom: 20px;
    color: rgb(0, 0, 0);
  }
  
  .table {
    margin-top: 20px;
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    width     : 1000px;
  }
  
  .table thead {
    background-color: #343a40;
    color: white;
  }
  
  .table tbody tr:hover {
    background-color: #f1f1f1;
  }
  
  .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    margin: 10px;
    color: white;
  }
  
  .btn i {
    margin-right: 5px;
  }
  
  .btn-success {
    background-color: #28a745;
    border-color: #28a745;
  }
  
  .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
  }
  
  .btn-danger {
    background-color: #dc3545;
    border-color: #dc3545;
  }
  